<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>My Contact Book</title>
  </head>
  <body>
    <div class="contacts">
        <header class="contacts-header">
          <a class="btn-back" href="">Cancel</a>
        </header>
        <div class="contact">
          <form method="post">
            <input type="hidden" name="thumbnail" value="http://placehold.it/48x48">
            <input type="hidden" name="portrait" value="http://placehold.it/300x400">

            <h1 class="contact-name">New Contact</h1>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="">

            <label for="company">Company</label>
            <input type="text" name="company" value="">

            <label for="email">Email</label>
            <input type="email" name="email" value="">

            <label for="phone">Phone</label>
            <input type="tel" name="phone" value="">

            <label for="address">Address</label>
            <input type="text" name="address" value="">

            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" value="">

            <input type="submit" name="add_contact" value="Add Contact">
        </div>
    </div>
  </body>
</html>
